<div class="bigWrapper clearfix">
    <h1 class="classy">Welcome</h1>
    <div class="orbit clearfix" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            </div>
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="/public/public/images/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="Space">
                        <figcaption class="orbit-caption">We all love food...</figcaption>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="/public/public/images/food.jpg" alt="Space">
                        <figcaption class="orbit-caption">Food can be art!</figcaption>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="/public/public/images/fridge-organized.jpg" alt="Space">
                        <figcaption class="orbit-caption">Using our database we can keep a close tab on your food stores!</figcaption>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="/public/public/images/alergies.jpg" alt="Space">
                        <figcaption class="orbit-caption">We can even reccomend recipes while taking into account food alergies.</figcaption>
                    </figure>
                </li>
                
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="/public/public/images/Food-Blueberries-High-Res-Wallpaper-2560x1600.jpg"
                            alt="Space">
                        <figcaption class="orbit-caption">Food shouldnt be wasted! We will let you know when your ingredients are about to expire.</figcaption>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="/public/public/images/server2.jpg" alt="Space">
                        <figcaption class="orbit-caption">Reduce food waste - learn new recipes - make easy shopping lists - keep your kitchen organized</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current
                    Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            <button data-slide="4"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="5"><span class="show-for-sr">Third slide details.</span></button>
           
        </nav>
    </div>
    <div>
    <p>Interested in becomming a member?<br> <a class="register" id="regcode"data-open="register-modal">register</a></p>
</div>
</div>